**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/Logs
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
*.md
*.sln.DotSettings*
.env
**/*.Tests
**/CalendarManagementApi.Tests
