<nav>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <div class="nav-header">
        <a href="/" class="nav-brand">Calendar</a>
        <label for="nav-toggle" class="nav-toggle-label">&#9776;</label>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/messageoftheday">Messages of the Day</a>
        <a href="/waitingevents">Waiting Events</a>
        <a href="/repeatingevents">Repeating Events</a>
        <a href="/birthdays">Birthdays</a>
    </div>
</nav>
